{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae hic atque iusto rem voluptas reiciendis laboriosam cupiditate? Alias, nisi optio laudantium nostrum molestiae delectus harum quasi. Doloremque ipsa quis eaque esse molestias saepe. Modi vel ducimus delectus. Eum quam eveniet ratione veniam. Dolor reprehenderit reiciendis, numquam provident qui ullam, fugiat voluptatem voluptas quod deleniti doloribus eius omnis? Eaque eveniet voluptatibus odio atque. Repudiandae laudantium expedita impedit rem officiis enim harum ratione quos, tenetur facilis voluptatum odit perspiciatis provident? Animi, dicta voluptates. Dolorum voluptatibus itaque ea quod voluptates, inventore, sint possimus praesentium ab suscipit iure ipsa vero consequuntur maxime quas optio.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}