{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body">
                <h1 class="text-center">Signup</h1>
                {{error}}
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Write your username">
                </div>

                <div class="mb-3">
                    <label for="password1">Password:</label>
                    <input type="password" name="password1" id="password1" class="form-control" placeholder="Write your password">
                </div>

                <div class="mb-3">
                    <label for="password2">Confirm your Password:</label>
                    <input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm your password">
                </div>

                <button class="btn btn-primary">
                    Signup
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}